<div class="container">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs">
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 well">
		<form method="POST" action="/myLists/{{escListName}}/pickMovies">
			<fieldset class="form-group">
				<legend>What movies would you like to add?</legend>
				{{#each watched}}
					<div class="form-check col-lg-3 col-md-3 col-sm-4 col-xs-12 movieOptWrapper">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well movieOpt">
							<label class="form-check-label">
								<div class="movieOptImg" style="background-image: url('{{image}}')"></div>
								<div class="text-center movieOptTitle">
									{{title}}
								</div>
								<input class="movieOptInput" type="checkbox" name="objectID" value="{{_id}}">
							</label>
						</div>
					</div>
				{{/each}}
				<input type="hidden" name="listName" value="{{listName}}">
			</fieldset>
			<a href="/myLists" class="pull-left"><button type="button" class="btn" id="cancelBTN">
				<span class="glyphicon glyphicon-menu-left"></span>
				 Cancel
			</button></a>
			<button type="submit" class="btn pull-right" id="chooseMoviesBTN">
				<span class="glyphicon glyphicon-film"></span>
				 Choose movies
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</form>
	</div>
</div>